<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matiasdaniel.domtec">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Globals"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.matiasdaniel.domtec.AmbienteActivity"
            android:label="@string/title_activity_ambiente"
            android:parentActivityName="com.example.matiasdaniel.domtec.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matiasdaniel.domtec.MainActivity" />
        </activity>

        <activity
            android:name="com.example.matiasdaniel.domtec.OnOffActivity"
            android:label="@string/title_activity_on_off"
            android:parentActivityName="com.example.matiasdaniel.domtec.AmbienteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matiasdaniel.domtec.AmbienteActivity" />
        </activity>

        <activity
            android:name="com.example.matiasdaniel.domtec.DimmerActivity"
            android:label="@string/title_activity_dimmer"
            android:parentActivityName="com.example.matiasdaniel.domtec.AmbienteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matiasdaniel.domtec.AmbienteActivity" />
        </activity>

        <activity
            android:name="com.example.matiasdaniel.domtec.TvActivity"
            android:label="@string/title_activity_tv"
            android:parentActivityName="com.example.matiasdaniel.domtec.AmbienteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matiasdaniel.domtec.AmbienteActivity" />
        </activity>

        <activity
            android:name="com.example.matiasdaniel.domtec.AireActivity"
            android:label="@string/title_activity_aire"
            android:parentActivityName="com.example.matiasdaniel.domtec.AmbienteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matiasdaniel.domtec.AmbienteActivity" />
        </activity>

    </application>

</manifest>
